version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: workwatch-backend
    ports:
      - "8000:8080"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: workwatch-frontend
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend
